{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roland Guiré</title>
    <link rel="stylesheet" href="{% static 'mywebsite/Style.css'%}">
</head>
<body>
    <header>
           Nom: GUIRE 
           <br>
           <br>
           Prenom: Arsène Roland 
           <br>
           <br>
           Titre :Etudiant 
           <br>
           <br>
           Université: Université Nangui Abrogoua 
           <br>
           <br>
           Niveau d'etude : Licence 3 informatique 
           <br>
           <br>
           <img src="{% static 'mywebsite/photo1.jpg' %}" width="200px" alt="Photo de Roland Guiré">
    </header>
    <br>
    <section id="Apropos">
    <h2>1.Apropos</h2>
     GUIRE Arsène Roland est un étudiant en <strong>Licence 3 informatique à l'université Nangui Abrogoua</strong>. <br>
     Il aime beaucoup écouter la Parole de Dieu à l'academie Biblique .
     Aussi j'ai les metiers d'ingeniérie, de l'invention comme l"informatique: intelligence artificielle et cybersécurité .

    </section>
    <br>
    <section id="Compétences">
        <h2>2.Compétences </h2>
      <ol>
        <li>Mathématiques Appliquées</li>
        <li>Informatique Appliquées</li>
        <li>Developpement Web </li>
        <li>Algorithmes</li>
        <li>Consulting</li>

      </ol>
    </section>
    <br>

    <section id="projets">
        <h2>3.Projets</h2>
        <ul>
            <li> Entrée à l'ESATIC </li>
            <li> Etudier à polytechnique montreal</li>
            <li>Travailler au canada</li>
            <li>Avoir ma Licence cette année</li>
        </ul>
    </section>
    <br>

    <footer>
        <a href="mailto:guireroland623@gmail.com"> Ecrivez moi par e-mail</a>
        <a href="tel:+225 0769072597"> Appelez-moi</a>
        © Roland tout droit reservé Abidjan 2025
        <br>
    </footer>
    <br>
</body>
</html>